<div class="main-wrapper">
  <div class="header-section">
    <div class="title-row">
      <div class="header-titles" style="visibility: hidden;">
        <h1 style="font-weight: 700; font-size: 24px">
          Facilities (NextGen Assembly Line-2026/MFG/011)
        </h1>
        <p class="subtitle">
          Manage project sites, workspaces, and location scheduling.
        </p>
      </div>

      <div class="header-actions">
        <button mat-raised-button color="primary" class="add-btn" matTooltip="Add Facility" (click)="addFacility()">
          <mat-icon>add</mat-icon> Add Facility
        </button>

        <button mat-raised-button class="back-btn" (click)="goBack()"
          style="background-color: rgb(130, 130, 130); color: white">
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="text-center">Actions</th>
          <th class="text-center">Status</th>
          <th>Facility Code</th>
          <th>Facility Type</th>
          <th>Facility Name</th>
          <th>Location</th>
          <th>Capacity</th>
          <th class="text-center">Scheduling</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let facility of facilities">
          <td class="text-center">
            <div style="display: flex; align-items: center; justify-content: center; gap: 10px; white-space: nowrap;">
              <i class="fa fa-pencil text-primary action-icon" style="cursor:pointer;"
                (click)="editFacility(facility)"></i>
              <i class="fa fa-trash text-danger action-icon" style="cursor:pointer;"
                (click)="deleteFacility(facility)"></i>
            </div>
          </td>

          <td class="text-center">
            <span [ngClass]="{
              'status-active': facility.status === 'Active',
              'status-inactive': facility.status === 'Inactive'
            }" [style.color]="facility.status === 'Active' ? 'blue' : 'red'" style="cursor: pointer;"
              (click)="Confirmation(facility)">
              {{ facility.status }}
            </span>
          </td>

          <td>{{ facility.facilityCode }}</td>
          <td>{{ facility.facilityType }}</td>
          <td>{{ facility.facilityName }}</td>
          <td>{{ facility.location }}</td>
          <td>{{ facility.capacity }}</td>

          <td class="text-center">
            <a href="javascript:void(0)" (click)="viewScheduling(facility)">
              {{ facility.log }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>