<div class="nav-container" [ngClass]="{'nav-open': isNavOpen, 'nav-closed': !isNavOpen}">

  <button (click)="toggleNav()" class="toggle-button">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-links" (wheel)="$event.stopPropagation()">
    <ul>
      <!-- 13. Analytics (Moved to Top) -->
      <li routerLinkActive="active">
        <a [routerLink]="['analytics']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Analytics">analytics</mat-icon>
          <span *ngIf="isNavOpen">Analytics</span>
        </a>
      </li>

      <!-- 1. Overview -->
      <li routerLinkActive="active">
        <a [routerLink]="['overview']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Overview">dashboard</mat-icon>
          <span *ngIf="isNavOpen">Overview</span>
        </a>
      </li>

      <!-- 2. Setup -->
      <li routerLinkActive="active">
        <a [routerLink]="['setup']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Setup">settings</mat-icon>
          <span *ngIf="isNavOpen">Setup</span>
        </a>
      </li>

      <!-- 3. Team -->
      <li routerLinkActive="active">
        <a [routerLink]="['team']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Team">group</mat-icon>
          <span *ngIf="isNavOpen">Team</span>
        </a>
      </li>

      <!-- 4. Stages -->
      <li routerLinkActive="active">
        <a [routerLink]="['stages']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Stages">layers</mat-icon>
          <span *ngIf="isNavOpen">Stages</span>
        </a>
      </li>

      <!-- 5. Budget -->
      <li routerLinkActive="active">
        <a [routerLink]="['budget']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Budget">account_balance_wallet</mat-icon>
          <span *ngIf="isNavOpen">Budget</span>
        </a>
      </li>

      <!-- 6. Scrum -->
      <li routerLinkActive="active">
        <a [routerLink]="['backlog']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Backlog">list_alt</mat-icon>
          <span *ngIf="isNavOpen">Scrum</span>
        </a>
      </li>

      <!-- 7. Schedule -->
      <li routerLinkActive="active">
        <a [routerLink]="['schedule']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Schedule">calendar_month</mat-icon>
          <span *ngIf="isNavOpen">Schedule</span>
        </a>
      </li>

      <!-- Todo -->
      <li routerLinkActive="active">
        <a [routerLink]="['todo']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Todo">check_box</mat-icon>
          <span *ngIf="isNavOpen">To do</span>
        </a>
      </li>

      <!-- 8. Materials -->
      <li routerLinkActive="active">
        <a [routerLink]="['materials']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Materials">receipt_long</mat-icon>
          <span *ngIf="isNavOpen">Materials</span>
        </a>
      </li>

      <!-- Resources -->
      <li routerLinkActive="active">
        <a [routerLink]="['resources']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Resources">people</mat-icon>
          <span *ngIf="isNavOpen">Resources</span>
        </a>
      </li>

      <!-- Issues -->
      <li routerLinkActive="active">
        <a [routerLink]="['issues']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Issues">report_problem</mat-icon>
          <span *ngIf="isNavOpen">Issues</span>
        </a>
      </li>

      <!-- 9. Expenses -->
      <li routerLinkActive="active">
        <a [routerLink]="['expenses']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Expenses">receipt_long</mat-icon>
          <span *ngIf="isNavOpen">Expenses</span>
        </a>
      </li>

      <!-- 10. Hour -->
      <li routerLinkActive="active">
        <a [routerLink]="['hours']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Hours">schedule</mat-icon>
          <span *ngIf="isNavOpen">Hours</span>
        </a>
      </li>

      <!-- 11. Document -->
      <li routerLinkActive="active">
        <a [routerLink]="['documents']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Documents">description</mat-icon>
          <span *ngIf="isNavOpen">Document</span>
        </a>
      </li>

      <!-- 12. Photos -->
      <li routerLinkActive="active" style="margin-bottom: 20px;">
        <a [routerLink]="['photos']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Photos">photo_library</mat-icon>
          <span *ngIf="isNavOpen">Photos</span>
        </a>
      </li>

      <!-- Commented: Assets -->
      <!-- <li routerLinkActive="active">
        <a [routerLink]="['assets']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Assets">inventory_2</mat-icon>
          <span *ngIf="isNavOpen">Assets</span>
        </a>
      </li> -->

      <!-- Commented: Facilities -->
      <!-- <li routerLinkActive="active">
        <a [routerLink]="['facilities']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Facilities">domain</mat-icon>
          <span *ngIf="isNavOpen">Facilities</span>
        </a>
      </li> -->

      <!-- 14. Notes -->
      <li routerLinkActive="active" style="margin-bottom: 100px;">
        <a [routerLink]="['notes']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Notes">edit_note</mat-icon>
          <span *ngIf="isNavOpen">Notes</span>
        </a>
      </li>

    </ul>
  </nav>

</div>

<div [ngClass]="{'full-width': !isNavOpen}" class="col-sm-10 project-dashboard-content-wrapper">
  <router-outlet></router-outlet>
</div>