<div style="margin-left: 18px;">




  <div class="mt-5">
    <button mat-raised-button color="primary" class="pull-right  btn-primary margin-right-5 "
      style="margin-right: 15px;" (click)="addlookup(null)">
      <mat-icon>add</mat-icon> Add Lookup
    </button>

    <div class="d-flex align-items-center justify-content-end gap-3">


      <div>
        <label style="margin-left: -66px;" class="mb-0">Code:</label>
      </div>

      <div style="min-width: 200px;">
        <mat-select class="form-control" style="margin-left: -29px;margin-top: 4px;" placeholder="Select Code" required
          multiple>
          <mat-option [value]="0">Side View</mat-option>
          <mat-option [value]="1">Face View</mat-option>
          <mat-option [value]="2">Demerit</mat-option>
          <mat-option [value]="3">Process Stage</mat-option>
        </mat-select>
      </div>

    </div>


    <!-- <button mat-raised-button style="background-color: black;color: white;"  class="pull-right filters-hover margin-right-10 "
                        (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                      </button> -->


  </div>




  <!-- Filter -->
  <!-- <h2>Lookup</h2> -->
  <div fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: 10px">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins" style="margin-left: -6px;
  margin-right: -4px">
      <mat-card class="filter" style="margin-top: 50px;
    width: 99%;
    margin-left: 16px;">
        <mat-card-content>
          <div class="row">
            <div class="col-sm-3">
              <div class="col-sm-4">
                <label class="pull-right" style="margin-top: 6px;">Code:</label>
              </div>
              <div class="col-sm-8">
                <mat-select class="form-control" placeholder="Select Code" required multiple>
                  <mat-option [value]="0">Side View</mat-option>
                  <mat-option [value]="1">Face View</mat-option>
                  <mat-option [value]="2">Demerit</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="col-sm-4">
                <label class="pull-right" style="margin-top: 6px;">Lookup:</label>
              </div>
              <div class="col-sm-8">
                <mat-select class="form-control" placeholder="Select Lookup" required multiple>
                  <mat-option [value]="0">LH</mat-option>
                  <mat-option [value]="1">RH</mat-option>
                  <mat-option [value]="2">BH</mat-option>
                  <mat-option [value]="3">FT</mat-option>
                  <mat-option [value]="4">RR</mat-option>
                  <mat-option [value]="5">1</mat-option>
                  <mat-option [value]="6">5</mat-option>
                  <mat-option [value]="7">10</mat-option>
                  <mat-option [value]="8">20</mat-option>
                  <mat-option [value]="9">50</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="col-sm-4">
                <label class="pull-right" style="margin-top: 6px;">Status:</label>
              </div>
              <div class="col-sm-8">
                <mat-select class="form-control" placeholder="Select Status" required>
                  <mat-option [value]="0">Active</mat-option>
                  <mat-option [value]="1">Inactive</mat-option>
                </mat-select>
              </div>
            </div>


            <div class="col-sm-4" style="margin-top: 26px;">
              <div class="col-sm-4">
                <!-- <label class="pull-right" style="margin-top: 6px;" >Status:</label> -->
              </div>
              <div class="col-sm-8">

              </div>
            </div>
            <div class="col-sm-4" style="margin-top: 26px;">
              <div class="col-sm-4">
                <!-- <label class="pull-right" style="margin-top: 6px;" >Role:</label> -->
              </div>
              <div class="col-sm-8">

              </div>
            </div>
            <div class="col-sm-4" style="margin-top: 26px;">
              <div class="col-sm-4">
                <!-- <label class="pull-right" style="margin-top: 6px;" >Role:</label> -->
              </div>
              <div class="col-sm-8">
                <a (click)="filterToggle = !filterToggle" class="pull-right"
                  style="font-size: 25px; cursor: pointer; margin-left: 5px">
                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                </a>

                <button mat-raised-button style="background-color:#37474f; color:#fff !important;"
                  class="pull-right margin-right-5">
                  <mat-icon>settings_backup_restore</mat-icon> Clear
                </button>
                <button mat-raised-button class="pull-right btn-primary" color="primary" style="margin-right:10px">
                  <mat-icon>search</mat-icon> Search
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>


  <!-- Table -->
  <div class="container-fluid flex-p w-100">
    <div fxLayout="row wrap" style="margin-left: -6px;
  margin-right: -6px;">
      <div class="table-responsive  flex-p w-100">
        <table id="example2" class="table table-bordered table-hover" style="width: 99%;
    margin-left: 11px;">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th class="text-center">Actions</th>
              <th>Lookup</th>
              <th class="text-center">Code</th>
              <th class="text-center">Status</th>
              <th class="text-center">Category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let applicant of tableList">
              <td class="text-center">
                <a style="margin-right:10px;cursor:pointer;color:cornflowerblue" (click)="addlookup(applicant)">
                  <i class="fa fa-edit"></i>
                </a>

                <a>
                  <i style="cursor:pointer" class="fa fa-trash red"></i>
                </a>
              </td>

              <td>{{ applicant.CodeMasterName }}</td>

              <td class="text-center">
                {{ applicant.LookupName }}
              </td>

              <td class="text-center">
                <a [ngStyle]="{'color': applicant.vcStatus ? 'blue' : 'red','cursor':'pointer'}"
                  (confirm)="saveStatus(); applicant.vcStatus=!applicant.vcStatus">
                  {{ applicant.vcStatus ? 'Active' : 'Inactive' }}
                </a>
              </td>

              <td class="text-center">
                {{ applicant.AssetCategory }}
              </td>
            </tr>
          </tbody>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons>
        </mat-paginator>

      </div>