<div class="NewHeader">
    <h1 mat-dialog-title style="color:white; margin: 0; font-size: 18px; font-weight: 500;">
        Add Resource
    </h1>
</div>

<div mat-dialog-content style="padding: 15px 20px;">
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <form>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3">
                    <label class="add-member-label control-label" style="margin-top:5px;">Resource Name :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" placeholder="Enter Resource Name"
                            [(ngModel)]="resourceName" name="resourceName" type="text" (keyup.enter)="save()">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3">
                    <label class="add-member-label control-label" style="margin-top:5px;">From Date :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" [(ngModel)]="fromDate" name="fromDate" type="date">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3">
                    <label class="add-member-label control-label" style="margin-top:5px;">To Date :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" [(ngModel)]="toDate" name="toDate" type="date">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3">
                    <label class="add-member-label control-label" style="margin-top:5px;">From Time :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" [(ngModel)]="fromTime" name="fromTime" type="time">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3">
                    <label class="add-member-label control-label" style="margin-top:5px;">To Time :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" [(ngModel)]="toTime" name="toTime" type="time">
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 10px; margin-top: 15px;">
                <div class="pull-right" style="display: flex; justify-content: flex-end; gap: 8px;">
                    <button mat-raised-button (click)="close()"
                        style="background-color: lightgray; color: red;">
                        <mat-icon>cancel</mat-icon> Close
                    </button>
                    <button mat-raised-button type="submit" class="save" (click)="save()"
                        color="primary">
                        <mat-icon>save</mat-icon> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>