<div class="dashboard-container">
  <div class="sidebar" style="margin-top: 50px;">
    <div class="accordion-item" *ngFor="let menu of sidebarMenus; let i = index">
      <button class="accordion-header" [class.active-menu]="menu.isOpen" (click)="selectMenu(i)">
        <span class="chevron">&#8250;</span>
        {{ menu.name }} ({{ menu.count }})
      </button>

      <div class="accordion-content" [class.open]="menu.isOpen">
        <ul>
          <li *ngFor="let item of menu.subItems">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">



    <div class="button-container"
      style="display: flex; justify-content: flex-end; align-items: center; width: 100%; gap: 10px; margin-bottom: 20px;">
      <button mat-raised-button (click)="gridview()" style="background-color: black; color: white; height: 38px;">
        <mat-icon style="vertical-align: middle; margin-right: 4px;">grid_on</mat-icon>Grid Columns
      </button>

      <button mat-raised-button color="primary" class="top-btn" style="height: 38px;" (click)="addModule()">
        <mat-icon style="vertical-align: middle;">add</mat-icon>Add Module
      </button>

      <button mat-raised-button color="primary" class="top-btn" style="height: 38px;" (click)="addTask()">
        <mat-icon style="vertical-align: middle;">add</mat-icon>Add Task
      </button>

      <button mat-raised-button style="background-color: #808080; color: white; height: 38px;" (click)="goBack()">
        <mat-icon style="vertical-align: middle;">arrow_back</mat-icon> Back
      </button>
    </div>

    <div class="table-responsive" #tableContainer>
      <table>
        <thead>
          <tr>
            <th>Actions</th>
            <th>Task</th>
            <th>Task Code</th>
            <th>Job Code</th>
            <th>Effort (Hours)</th>
            <th>Duration (Days)</th>
            <th>Description</th>
            <th>Guidelines </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of paginatedData">

            <td class="text-center">
              <div style="display: flex; align-items: center; justify-content: center; gap: 10px; white-space: nowrap;">
                <i class="fa fa-pencil text-primary action-icon" style="cursor:pointer;" (click)="editTask(row)"></i>
                <i class="fa fa-trash text-danger action-icon" style="cursor:pointer;" (click)="deleteTask(row)"></i>
              </div>
            </td>
            <td>{{ row.task }}</td>
            <td>{{ row.taskCode }}</td>
            <td>{{ row.jobCode }}</td>
            <td>{{ row.effort }}</td>
            <td>{{ row.duration }}</td>
            <td>{{ row.description }}</td>
            <td class="text-center">
              <a style="cursor: pointer;" matTooltip="View Procedure" (click)="openfilepop()">
                <i class="fa fa-eye" style="color: black; font-size: 16px;"></i>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-footer">
      <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>