<div class="main-wrapper">
  <div class="header-section">
    <div class="title-row">
      <div class="header-titles" style="visibility: hidden;">
        <h1 style="font-weight: 700; font-size: 24px">
          Assets (NextGen Assembly Line-2026/MFG/011)
        </h1>
        <p class="subtitle">
          Manage project equipment, machinery, and resource scheduling.
        </p>
      </div>

      <div class="header-actions">
        <button mat-raised-button color="primary" class="add-btn" matTooltip="Add Asset" (click)="addAsset()">
          <mat-icon>add</mat-icon> Add Asset
        </button>

        <button mat-raised-button (click)="goBack()" class="back-btn"
          style="background-color: rgb(130, 130, 130); color: white">
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="text-center">Actions</th>
          <th class="text-center">Status</th>
          <th>Asset Code</th>
          <th>Asset Type</th>
          <th>Asset Name</th>
          <th>Asset Make</th>
          <th>Asset Model</th>
          <th class="text-center">Scheduling</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let asset of assets">
          <td class="text-center">
            <div style="display: flex; align-items: center; justify-content: center; gap: 10px; white-space: nowrap;">
              <i class="fa fa-pencil text-primary action-icon" style="cursor:pointer;" (click)="editAsset(asset)"></i>
              <i class="fa fa-trash text-danger action-icon" style="cursor:pointer;" (click)="deleteAsset(asset)"></i>
            </div>
          </td>

          <td class="text-center">
            <span [ngClass]="{
              'status-active': asset.status === 'Active',
              'status-inactive': asset.status === 'Inactive'
            }" [style.color]="asset.status === 'Active' ? 'blue' : 'red'" style="cursor: pointer;"
              (click)="Confirmation(asset)">
              {{ asset.status }}
            </span>
          </td>

          <td>{{ asset.assetCode }}</td>
          <td>{{ asset.assetType }}</td>
          <td>{{ asset.assetName }}</td>
          <td>{{ asset.assetMake }}</td>
          <td>{{ asset.assetModel }}</td>

          <td class="text-center">
            <a href="javascript:void(0)" (click)="viewScheduling(asset)">
              {{ asset.log }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>